<!--<script src="angular/angular.min.js"></script>-->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"
        xmlns:width="http://www.w3.org/1999/xhtml"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="angular/angular-resource.min.js"></script>
<script src="/player.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="test picklist">
    <meta name="author" content="jason zhang">
    <title>Player</title>




</head>
<body>

<div ng-init="pageOpen()" ng-app="ManHireApplication" ng-controller="PlayerController" class="container">

    <div class="form-group">
    <label for="playerName">Player Name</label>
    <input type="text" class="form-control" id="playerName" ng-model="player.name" placeholder="Player Name">
</div>
    <div class="form-group">
        <label for="playerSurName">Player Surname</label>
        <input type="text" class="form-control" id="playerSurName" ng-model="player.surName" placeholder="Player Surname">
    </div>
    <div class="form-group">
        <label for="playerAge">Age</label>
        <input type="text" class="form-control" id="playerAge" ng-model="player.age" placeholder="Age">
    </div>
    <div class="form-group">
        <label for="playerLevel">Level</label>
        <input type="text" class="form-control" id="playerLevel" ng-model="player.level" placeholder="Level">
    </div>
    <div class="form-group">
        <label for="playerPrice">Price</label>
        <input type="text" class="form-control" id="playerPrice" ng-model="player.price" placeholder="Price">
    </div>
    <div class="form-group">
        <label for="playerCity">City</label>
        <input type="text" class="form-control" id="playerCity" ng-model="player.city" placeholder="City">
    </div>
    <div class="col-md-4">
        <label>Position:</label>
    <select ng-options="h.positionName for h in positionList track by h.id" ng-model="denemeList"></select>
    </div>

    <button type="button" class="btn btn-primary" ng-click="save()">SAVE</button>
    <h2>Player Table</h2>


        <table class="table">
            <thead>
            <tr >
                <th>Player Name</th>
                <th>Player Surname</th>
                <th>Age</th>
                <th>Level</th>
                <th>Price</th>
                <th>City</th>
                <th>Position</th>
            </tr>

            </thead>

            <tbody>
            <div >
            <tr ng-repeat="player in playerList">
                <td>{{player.name}}</td>
                <td>{{player.surName}}</td>
                <td>{{player.age}}</td>
                <td>{{player.level}}</td>
                <td>{{player.price}}</td>
                <td>{{player.city}}</td>
                 <td><picklist  name="pktest" size="20"  data-picklist="" data-pick-model="denemeList" />
                    <li data-ng-repeat="s in player.positionList">{{s.positionName}}
                        <a href="#" ng-click="deneme(s.positionName)">
                            <span class="glyphicon glyphicon-remove-circle pull-right"></span>
                        </a></li>

                 </td>
                <td>  <a href="#" ng-click="selectPlayer(player)">
                    <span class="glyphicon glyphicon-refresh"></span>
                </a> </td>
                <td>  <a href="#" ng-click="deletePlayer(player)">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </a></td>
            </tr>
            </div>
            </tbody>

        </table>

</div>
</body>
</html>